/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200..700&display=swap');

/* asterisk overrides the browser's default style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*general styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'lato', sans-serif;

}

h1, h2, h3 {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#252525
}

/*header*/
header {
background-color:#fff;
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 2px 2px #3a3a3a;
display: flex;
justify-content: space-between;
align-items: baseline;
}
header a{
    text-decoration: none;
    color:inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
   margin-bottom: 1em;

}
.active{
    border-bottom: 1px solid #252525;
   
}
/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #fff;
    top: 100%;
    width:100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    
}
/* Nav toggle*/
#nav-toggle{
    display: none;
}
#nav-toggle:checked~nav{
    display: block;
}
.nav-toggle-label{
    font-size: 2rem;

}

/*Main content*/

main {
flex: 1 0 auto;
margin-top: 47px;

}
/*hero section*/
#hero{
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    position: relative;
}

#covertext {
    /* rgba final value determines "alpha" or transparency*/
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

}

#covertext > h2, #covertext > h3 {
        color: #fff;
}
/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #3a3a3a
}



/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /*header*/
   nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu>li{
        padding-left: 1rem;
    }
    .nav-toggle-label{
        display:none;
    }
    #logo{
        font-size: 280%;
        line-height: 75px;
        margin:0 0.5rem;
    }
/*Main content*/
main{
    /*push main content down below the header*/
    margin-top: 79px;
}    
/*hero*/
#covertext {
    width: 300px;
    right: 50px;

}
}
/* Large devices: laptops and desktops above 992px width*/

@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #252525;

    }
    
}